.aboutMe {
  background-color: lightblue !important;
}

.gradientbg {
  background: rgb(34,98,195);
  background: linear-gradient(171deg, rgba(34,98,195,1) 0%, rgba(210,45,253,1) 100%);
}

.nav-link {
  color: #ffff !important;
}

.btn-main {
   background: rgb(34,98,195);
   background: linear-gradient(171deg, rgba(34,98,195,1) 0%, rgba(210,45,253,1) 100%);
   border: 0 !important
}